// Primary mixin
@mixin buttons {

  .btn, a.btn, button {

    //Cores Padrão
    @include button($cor-primaria);
    @include radius(30px);

    padding: rem(10) rem(18);
    border: 2px solid $cor-primaria;
    position: relative;
    top: 0;
    text-align: center;
    transition: all .2s ease-in-out;

    &:hover, &:focus, &:active {
      color: darken($cor-primaria, 10%);
      transition: all .2s ease-in-out;
    }

    // &--transp{@include button(inherit, transparent);border: 0;}
    &--red   {@include button($white, #a42b2a);border: 0;}
    &--blue  {@include button($white, blue);border: 0;}
    // &--green {@include button(white, green);border: 0;}
  }
}

// Button mixin
@mixin button($text-color, $bg-color:transparent) {
  @include color-button($text-color, $bg-color);

  &:hover, &:focus {
    transition: all .2s ease-in-out;
    @include color-button($text-color, lighten($bg-color, 10%));
  }
  &:active {
    background: darken($bg-color, 5%);
  }
}

// Color button mixin
@mixin color-button($text-color, $bg-color) {
  background: $bg-color;
  color: $text-color;
}