.icon-fone {
  background-image: url(../images/sprite.png);
  background-position: -128px -53px;
  width: 34px;
  height: 34px;
}
.icon-icon-vaca {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 127px;
  height: 127px;
}
.icon-marker {
  background-image: url(../images/sprite.png);
  background-position: -128px 0px;
  width: 38px;
  height: 52px;
}
