.agenda {

    $self: &;
    @extend %boxFull;
    padding: rem(40) 0;
    background-color: mix($black, $white, 8%);

    i.fa {
        margin: 5px 5px 0 0;
        text-align: center;
        width: 15px;
    }

    @include e('head'){
        @extend %boxFull;
        margin-bottom: rem(40);
    }

    @include e('headline'){
        @include borderline($cor-primaria,100px,5px);

        color: $cor-titulos;
        font-size: rem(30);
        font-weight: 700;
        margin: 0;
        padding: rem(15) 0;

        @include col(1);
        @include respond-to(md){
            @include col(.28);
        }

        @include respond-to(lg){
            @include col(.22);
        }
    }

    @include e('form'){
        @include col(1);

        @include respond-to(md){
            @include col(.72);
        }

        @include respond-to(lg){
            @include col(.78);
        }
    }

    @include e('item'){
        @extend %animaHover;
        @include col(1);
        margin-bottom: rem(30);
        min-height: 280px;
        border-radius: rem(5);
        position: relative;
        overflow: hidden;

        @include respond-to(sm){
            min-height: 380px;
        }

        &:before {
            background: rgba($black, .65);
            border-radius: rem(5);
            content: "";
            height: 100%;
            position: absolute;
            transition: all .5s ease-in-out;
            width: 100%;
            z-index: 1;
        }

        &:hover:before {
            background: rgba($black, .85);
        }
    }

    @include e('infos'){
        bottom: 0;
        color: $white;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 80%;
        z-index: 2;
    }

    @include e('label'){
        border-radius: rem(5);
        background: $cor-primaria;
        display: inline-block;
        font-size: rem(12);
        padding: rem(5);
        margin-bottom: rem(8);
    }

    @include e('data'){
        @extend %boxFull;
        font-size: rem(13);
        i {
            color: $cor-primaria;
        }
    }

    @include e('local'){
        @extend %boxFull;
        font-size: rem(13);
        i {
            color: $cor-primaria;
        }
    }

    @include e('titulo'){
        @extend %boxFull;
        font-family: 'Lato';
        font-weight: bold;
        font-size: rem(22);
        line-height: rem(22);
        margin: rem(5) 0 rem(15);

        @include respond-to(sm) {
            font-size: rem(20);
            line-height: rem(20);
            min-height: rem(40);
        }

        @include respond-to(md) {
            font-size: rem(22);
            line-height: rem(22);
            min-height: rem(50);
        }

        @include respond-to(lg) {
            font-size: rem(30);
            line-height: rem(30);
            min-height: rem(60);
        }
    }

    @include e('btn'){
        @extend %boxFull;
        margin-top: rem(5);

        a {
            color: $white;
            display: inline-block;
            font-weight: bold;
            font-size: rem(15);
            text-transform: initial;

            &:hover {
                border: 2px solid $white $i;
                color: $white;
            }
        }
    }

    @include e('thumb'){
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: all .5s ease-in-out;
            transform: scale(1);
        }
    }

    @include e('nopost'){
        background: rgba($cor-titulos, .2);
        color: $cor-titulos;
        text-align: center;
        padding: 10px;
        border-radius: rem(5);
    }

    @include e('content'){
        @include col(1);
        @include respond-to(sm){
            @include col(.7);
        }
    }

    @include e('sidebar'){
        @include col(1);
        background-color: mix($black, $white, 5%);
        padding: rem(30);

        @include respond-to(sm){
            @include col(.3);
        }
    }

    //PAGE ARCHIVE
    @include m('page'){
        background-color: $white;

        @include e('item', $self){
            @include respond-to(sm){
                @include col(1/2, $cycle: 2);
            }
        }

        @include e('headline', $self){
            @include col(1);
            margin-bottom: rem(20);

            @include m('subtitle'){
                @include borderline($cor-primaria, 100px, 5px, 0, 50%, true);
                margin: rem(40) 0;
                text-align: center;
            }
        }

        @include e('form', $self){
            @extend %boxFull;
        }

        @include e('reset', $self){
            @include col(1);
            font-size: rem(14);
            color: $cor-titulos;
            margin-top: rem(8);

            a {
                color: inherit;
            }
        }
    }

    //HOME
    @include m('home'){
        @include e('item', $self){
            @include respond-to(sm){
                @include col(1/2, $cycle: 2);
            }

            @include respond-to(md){
                @include col(1/3, $cycle: 3);
            }
        }

        @include e('thumb', $self){
            // img {display: none;}
            // background-color: red;
        }
    }
}