.centro {
    @extend %boxFull;
    color: $white;
    padding-bottom: rem(40);

    @include e('wrap'){
        @extend %boxFull;
        min-height: 480px;
        padding-top: 30px;
        position: relative;
        z-index: 2;

        @include respond-to(md){
            padding-top: 80px;
        }
    }

    @include e('thumb'){
        @include size(100%);
        position: absolute;
        top: 0;
        left: 0;

        img {
            @include size(100%);
            object-fit: cover;
            position: relative;
        }
    }

    @include e('content'){
        position: relative;
        z-index: 2;
    }

    @include e('titulos'){
        @include col(1);
        margin: 0;

        h2 {
            @include titles(800, 28,$white);
            margin: 0;
            padding: 0;
        }

        h3 {
            @include titles(600, 18,$white);
            margin: rem(10) 0;
            padding: 0;
        }

        @include respond-to(sm){
            h2 {
                @include titles(800, 40,$white);
                padding: 12px 0 0;
            }

            h3 {
                @include titles(600, 25,$white);
                margin: 0;
                padding: 0;
            }
        }

        @include respond-to(md){
            @include col(.4);
            margin-top: rem(10);

            h2 {
                @include titles(800, 40,$white);
            }

            h3 {
                @include titles(600, 28,$white);
                padding-right: rem(55);
            }
        }

    }

    @include e('info'){
        @include col(1);
        @include respond-to(md){
            @include col(.6);
        }
    }

    @include e('lista'){
        @extend %boxFull;
        margin-top: rem(30);

        @include respond-to(md){
            margin-top: rem(-60);
            position: relative;
            z-index: 2;
        }
    }

    @include e('bloco'){
        @include col(1);
        color: $cor-titulos;
        margin-bottom: rem(20);
        text-align: center;

        @include respond-to(sm){
            @include col(1/2, $cycle: 2);
            text-align: center;
        }

        @include respond-to(md){
            @include col(1/4, $cycle: 4);
            text-align: center;
        }
    }

    @include e('circle'){
        background: $cor-primaria;
        padding: 20px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        display: inline-block;
        text-align: center;
        line-height: 100px;
        position: relative;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @include e('desc'){
        text-align: justify;
    }

    @include e('more'){
        @extend %boxFull;
        margin: rem(35) 0;
        text-align: center;

        .btn {
            background: $cor-primaria;
            color: $white;
            display: inline-block;
            position: static;
            top: auto;

            &:hover {
                background: darken($cor-primaria, 10%);
                color: $white;
            }
        }
    }
}