.curso {

    $self: &;
    @extend %boxFull;
    padding: rem(40) 0;
    background-color: mix($black, $white, 8%);

    @include e('head'){
        @extend %boxFull;
        margin-bottom: rem(40);
    }

    @include e('headline') {
        @include titles(700, 25,$cor-titulos);
        @include borderline($cor-primaria,80px,5px, 0, 50%, true);
        text-align: center;
    }

    @include e('categoria') {
        @include titles(700, 25,$cor-titulos);
        margin-top: rem(20);
        padding: 0;
    }

    @include e('line'){
        @extend %boxFull;
        border: {
            color: $cor-primaria;
            style: solid;
            width: 0 0 2px 0;
        }
        margin-bottom: 5px;
        max-width: 55%;
    }


    @include e('item'){
        @extend %animaHover;

        @include col(1);
        margin-bottom: rem(30);
        min-height: 280px;
        border-radius: rem(5);
        position: relative;
        overflow: hidden;

        @include respond-to(sm){
            min-height: 380px;
        }

        &:before {
            background: rgba($black, .65);
            border-radius: rem(5);
            content: "";
            height: 100%;
            position: absolute;
            transition: all .5s ease-in-out;
            width: 100%;
            z-index: 1;
        }

        &:hover:before {
            background: rgba($black, .88);
        }
    }

    @include e('infos'){
        color: $white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        width: 85%;
        z-index: 2;
    }

    @include e('desc'){
        @extend %boxFull;
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(20);
        margin-bottom: rem(15);
    }

    @include e('titulo'){
        @extend %boxFull;
        @include fonts(600,22);
        line-height: rem(22);
        margin: rem(5) 0 rem(15);

        @include respond-to(sm) {
            font-size: rem(20);
            line-height: rem(20);
            min-height: rem(40);
        }

        @include respond-to(lg) {
            font-size: rem(23);
            line-height: rem(23);
            min-height: rem(25);
        }

        a {
            color: inherit;
        }
    }

    @include e('btn'){
        @extend %boxFull;
        margin-top: rem(5);

        a {
            color: $white;
            display: inline-block;
            font-weight: bold;
            font-size: rem(15);
            text-transform: initial;

            &:hover {
                border: 2px solid $white $i;
                color: $white;
            }
        }
    }

    @include e('thumb'){
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: all .5s ease-in-out;
            transform: scale(1);
        }
    }

    @include e('form'){
        @extend %boxFull;
    }

    //PAGE
    @include m('page'){
        background-color: $white;

        @include e('head', $self){
            margin-bottom: rem(40);
        }

        @include e('headline', $self) {
            @include titles(700, 25,$cor-titulos);
        }

        @include e('item', $self){
            @include respond-to(sm){
                @include col(1/2, $cycle: 2);
            }

            @include respond-to(md){
                @include col(1/3, $cycle: 3);
            }
        }
    }
}

//DESTAQUE TAXONOMY
.destaque {
    @extend %resetHover;
    background-color: mix($black, $white, 8%);
    padding: rem(80) 0 rem(40);

    @include e('head'){
        @extend %boxFull;
        margin-bottom: rem(40);
    }

    @include e('headline'){
        @include borderline($cor-primaria,100px,5px,0,50%,true);
        @include col(1);
        @include titles(700, 28,$cor-titulos);
        text-align: center;
    }

    @include e('item'){
        @include col(1);
        background-color: $white;
        color: $cor-titulos;
        margin-bottom: rem(30);
        position: relative;
        min-height: 320px;
        overflow: hidden;

        @include respond-to(sm){
            height: 320px;
        }

        &:before {
            display: none;
        }
    }

    @include e('titulo'){
        @include titles(600, 18, $cor-titulos);
        padding-bottom: 0;

        @include respond-to(sm){
            margin: 20px 0 0;
            @include titles(800, 25, $cor-titulos);
        }

        @include respond-to(md){
            @include titles(800, 40, $cor-titulos);
        }

        a {
            color: inherit;
        }
    }

    @include e('btn'){
        @include fonts(700, 17);
        @extend %animabg;
        background: transparent;
        border: 2px solid $cor-titulos;
        border-radius: 5px;
        color: $cor-titulos;
        display: inline-block;
        margin-bottom: rem(20);
        padding: .625rem 1.125rem;
        text-align: center;

        &:hover {
            background-color: $cor-primaria;
            color: $white;
            border-color: transparent;
        }
    }

    @include e('thumb'){
        @include col(1);
        background-color: rgba($cor-titulos,.5);
        text-align: center;
        min-height: 320px;
        position: relative;

        @include respond-to(sm){
            @include col(.4);
            text-align: center;
        }

        @include respond-to(md){
            @include col(.3);
            text-align: center;
        }

        img {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            width: 100%;
        }
    }

    @include e('info'){
        @include col(1);
        padding: rem(10) rem(20);
        font-size: rem(16);
        line-height: rem(18);
        font-weight: 300;

        @include respond-to(sm){
            @include col(.6);
            font-size: rem(20);
            line-height: rem(22);
        }

        @include respond-to(md){
            @include col(.7);
            font-size: rem(22);
            line-height: rem(28);
        }
    }

    @include e('desc'){
        padding: rem(15) 0;
    }
}