.livros  {
    @extend %boxFull;
    $self: &;
    color: $white;

    //GERAL
    @include e('item'){
        @include col(1);
        @include respond-to(sm){
            @include col(1/3);
        }
    }

    @include e('titulo'){
        color: $white;
        font-size: rem(22);
    }

    @include e('thumb'){
        @extend %loadWhite;
        @include col(1);
        text-align: center;

        img {
            height: auto;
            position: relative;
            z-index: 2;
        }
    }

    @include e('desc', $self){
        @include col(1);
    }

    //SOBRE
    @include m('sobre') {
        @extend %resetHover;
        background-color: $cor-extra;
        padding: rem(50) 0;
        position: relative;

        @include e('item', $self){
            @include col(1);
            margin-bottom: 0;
        }

         @include e('thumb', $self){
            @include col(1);
            text-align: center;

            @include respond-to(sm){
                @include col(.45);
                text-align: center;
            }

            @include respond-to(md){
                @include col(.4);
                text-align: center;
            }

            @extend %loadPrimaria;
            background-color: transparent;
            height: inherit;
            min-height: 250px;
            overflow: hidden;

            img {
                position: relative;
                // max-width: 100%;
                width: auto;
                height: 100%;
                object-fit: cover;
            }
        }

        @include e('titulo', $self){
            @include titles(800, 22, $cor-titulos);

            @include respond-to(sm){
                @include titles(800, 25, $cor-titulos);
                padding: 0;
            }

            @include respond-to(md){
                @include titles(800, 32, $cor-titulos);
                padding-bottom: 0;
            }
        }

        @include e('infos', $self){
            @include col(1);
            text-align: center;
            color: $cor-titulos;
            font-size: rem(22);
            font-weight: 300;
            line-height: rem(28);
            position: relative;
            z-index: 2;

            @include respond-to(sm){
                @include col(.55);
                font-size: rem(20);
                line-height: rem(22);
            }

            @include respond-to(md){
                @include col(.6);
                padding-left: rem(40);
            }
        }

        @include e('desc', $self){
            font-size: rem(18);
            line-height: rem(22);
            padding: rem(15) 0;

            @include respond-to(sm){
                font-size: rem(22);
                line-height: rem(25);
                padding: rem(25) 0;

            }
        }

        @include e('btn', $self){
            @include fonts(700, 17);
            @extend %animabg;
            color: $white;
            border-color: $white;

            &:hover {
                background-color: rgba($black, .2);
                color: $white;
            }
        }
    }

    //RODAPE
        @include m('rdp') {

            margin-bottom: rem(15);

            @include e('item', $self){
                @include col(1/3);
                @include respond-to(sm){
                    @include col(1/3);
                }
            }

            @include e('thumb', $self){
                text-align: center;
            }

            @include e('link', $self){
                color: rgba($white, .5);
                font-size: rem(14);
                font-weight: 300;

                &:hover {
                    color: rgba($white, .8);
                }
            }
        }

    //E-BOOK
    @include m('ebook') {

        @include e('titulo', $self){
            margin: 0 0 rem(20);
        }

        @include e('thumb', $self){
            @include col(.3);
            min-height: 180px;
            padding-top: rem(15);
            text-align: center;

            img {
                max-width: 60%;
            }
        }

        @include e('desc', $self){
            @include col(.7);
            padding-top: rem(15);
        }
    }
}