.estatisticas {
    @extend %boxFull;
    text-align: center;
    padding: rem(120) 0 rem(25);

    @include e('item'){
        @include col(1/4);
        position: relative;

        &:before {
            @extend %centerPositionAll;
            content: "";
            position: absolute;
            bottom: 80%;
            top: inherit;
        }

        @include m('unidades'){
            &:before {
                @extend .icon-icone-globo;
            }
        }

        @include m('coachs'){
            &:before {
                @extend .icon-icone-hands;
            }
        }

        @include m('impacto'){
            &:before {
                @extend .icon-icone-growth;
            }
        }
        @include m('horas'){
            &:before {
                @extend .icon-icone-time;
            }
        }
    }

    @include e('numeros'){
        color: $cor-primaria;
        font-size: rem(40);
        font-weight: bold;
    }

    @include e('titulo'){
        @include center(60%);
        color: mix($black, $white, 20%);
        font-size: rem(14);
        font-weight: 900;
        padding: rem(10) 0;
    }
}