.rodape {
    @extend %boxFull;    
    background: $rodape;

    @include e('copyright'){
        @extend %boxFull;
        text-align: center;
        text-transform: uppercase;
        font-size: rem(14);
        font-weight: 700;
        color: #0f3047;
        background-color: #fbefc4;
    }

    @include e('infos'){
        @extend %boxFull;
        padding: rem(20) 0;
    }
    
    @include e('end'){
        float: left;
        font-size: rem(16);
        font-weight: 700;
        font-style: normal;
        color: #b1a57a;

        p {
            letter-spacing: 1px;
            margin: rem(5) 0 0;
        }
    }

    @include e('fone'){
        float: right;
        font-size: rem(21);
        font-weight: 700;
        color: #0076c0;

        strong {
            margin-left: 5px;
        }
    }

}

.barra {
    @extend %boxFull;
    padding: rem(40) 0;
    background: lighten($rodape, 8%);
}