.mapa {
    @include fonts(800, 25);
    @extend %boxFull;
    background: $cor-primaria;
    color: $white;
    min-height: 225px;

    @include e('wrap'){
        @extend .container;

        background: {
            image: url(../images/bg-mapa.png);
            position: right;
            repeat: no-repeat;
        }
        min-height: 225px;
        padding: rem(40) 0;
        position: relative;
    }

    @include e('infos'){
        @include col(1);

        @include respond-to(sm){
            @include span(.5);
        }
    }

    @include e('titulo'){
        @include fonts(800, 40);
        line-height: rem(40);
        margin: 0 0 rem(15);
    }

    @include e('desc'){
        @include fonts(300, 18);
        color: $white;
    }


    @include e('btn'){
        @include fonts(700, 17);
        @extend %animabg;
        background-color: mix(lighten($cor-primaria, 10%), $white, 95%);
        border-radius: 8px;
        box-shadow: 0px 0px 50px 0px rgba($black,.5);
        color: $white;
        // font-size: rem(15);
        padding: rem(18) rem(30);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-25%,-50%);

        &:hover {
            background-color: mix(lighten($cor-primaria, 5%), $white, 95%);
        }
    }

    @include e('icone'){
        margin-right: 8px;
        display: inline-block;
    }
}