.bio__paulo {
    @extend %boxFull;
    background: {
        image: url(../images/bg-section-paulo-viera.jpg);
        size: cover;
    }
    min-height: 676px;
}

.paulo {
    $self : &;
    color: $white;
    overflow: hidden;
    position: relative;

    &:before {
        @include size(100%);
        background-color: rgba($black, .45);
        content: "";
        left: 0;
        position: absolute;
    }

    @include e('wrap') {
        @extend %boxFull;
        position: relative;
    }

    @include e('infos'){
        @include col(.55);
        min-height: 400px;
        position: relative;
        z-index: 2;
    }

    @include e('thumb'){
        @include col(.45);
        height: 100%;
        position: absolute;
        right: 0;
        height: 676px;

        @include respond-to(lg){
            right: -5%;
        }

        &:before, &:after {
            content: "";
            position: absolute;
        }

        &:before {
            background: url(../images/wrap-pv-before.png);
            width: 528px;
            height: 397px;
        }

        &:after {
            background: url(../images/wrap-pv-after.png);
            width: 372px;
            height: 279px;
            bottom: 0;
        }

        img {
            object-fit: cover;
            position: absolute;
            height: 676px;
            width: auto;
        }
    }

    @include m('sobre'){
        @extend %boxFull;
        background: {
            color: $cor-primaria;
            repeat: no-repeat;
            size: cover;
        }

        @include respond-to(md){
            background: {
                image: url(../images/bg-pv-sobre.png);
                position: right;
                size: contain;
            }
        }


        overflow: initial;

        &:before {
            display: none;
        }

        @include e('wrap',$self){
            padding: rem(30) 0 0;
            @include respond-to(sm){
                padding: rem(50) 0;
            }
        }

        @include e('infos',$self){
            @include col(1);
            min-height: 315px;
            position: relative;
            z-index: 2;
            padding-bottom: rem(30);

            @include respond-to(sm){
                @include col(.50);
                padding-bottom: 0;
            }

            @include respond-to(md){
                padding: rem(35);
                padding-left: 0;
            }
        }

        @include e('btn', $self){
            @extend .btn;
            color: $white $i;
            border: 2px solid $white $i;
            display: inline-block;
            margin-top: rem(20);
        }

        @include e('thumb',$self){
            @include view(sm,md,lg);
            @include col(1);
            height: 390px;
            position: relative;

            @include respond-to(sm){
                @include col(.50);
                position: absolute;
                right: 0;
                bottom: 0;
                max-height: 400px;
            }


            &:before, &:after {
                display: none;
            }

            img {
                object-fit: initial;
                bottom: 0;
                height: auto;
                left: 50%;
                position: absolute;
                width: 100%;
                transform: translateX(-50%);

                @include respond-to(sm){
                    left: auto;
                    margin-top: 0;
                    position: absolute;
                    width: rem(450);
                    transform: translateX(0);
                }

            }
        }
    }
}