//TOPO
.topo {
  $self : &;
  
  @extend %boxFull;
  position: relative;
  background-color: #0b4e82;
  margin-bottom: -15px;
  z-index: 5;
  
  &:after {
    content: '';
    @include size(100%, 13px);
    margin-bottom: -13px;
    background: url('../images/patter-azul-bottom.png') top center repeat-x;
    display: block;
  }
}