.mcoaching {
    @extend %boxFull;
    background-color: #f2f3f4;
    min-height: 526px;
    overflow: hidden;
    position: relative;
    text-align: center;

    @include e('infos'){
        @include col(1);

        @include respond-to(md){
            @include span(.5);
        }
    }

    @include e('titulo'){
        background: {
            image: url(../images/master-coaching-logo.png);
            repeat: no-repeat;
            position: center;
        }
        display: block;
        height: 150px;
    }

    @include e('desc'){
        @extend %boxFull;
        @include fonts(300, 20);
        color: mix($cor-dark, $white, 60%);
        padding: rem(2);

        @include respond-to(md){
            padding: 0 rem(70);
            margin: rem(15) 0;
        }
    }

    @include e('thumb'){
        @include view(md,lg);
        @include respond-to(md){
            @include span(.5);
        }

        position: absolute;
        right: 0;
        text-align: right;

        img {
            height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }

    @include e('btn'){
        @extend %animabg;
        border: 2px solid;
        border-radius: 8px;
        color: $cor-terciaria;
        display: inline-block;
        font-size: rem(15);
        margin: 20px 0 0;
        padding: 15px 20px;
        font-weight: 700;

        &:hover {
            background-color: $cor-primaria;
            border-color: $cor-primaria;
            color: $white;
        }
    }

    @include e('cases'){
        @extend %boxFull;

        h6 {
            @include fonts(300, 18);
            font-weight: 300;
            margin: rem(18) 0 rem(25);
            color: mix($cor-dark, $white, 80%);
        }
    }

    @include e('lista'){
        padding: 0;

        li {
            display: inline-block;
            max-width: 22%;
        }

        img {
            @extend %imgProp;
        }
    }
}