//MENU
.menu__nav {    
    @extend %boxFull;
    text-align: center;

    .menu-item {
        display: inline-block;
        vertical-align: middle;        
        color: #fdf7e1;
        position: relative;

        &.logo-menu {
            width: 300px;
            margin: 0 0 -190px;
            padding: 0;

            a {
                @include size(300px);
                display: inline-block;
                position: relative;
                top: -95px;
                left: 0;
                text-indent: -9999px;
                background: url('../images/bg-logo.png') top center no-repeat;

                &:after {
                    @include size(174px, 107px);
                    @extend %centerPositionAll;
                    content: '';
                    background: url('../images/logo.png') center no-repeat;

                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $white;
        }

        a {
          color: inherit;
          font-weight: 700;
          font-size: rem(18);
          position: relative;
          padding: rem(10);
          letter-spacing: 1px;
          z-index: 2;
        }

        @include m('active'){
            color: $white;
            &:after {
                @include size(60%, 2px);
                background: $cor-primaria;
                bottom: 0;
                content: "";
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        @include m('parent--active'){
            color: $white;
            &:after {
                @include size(60%, 2px);
                background: $cor-primaria;
                bottom: 0;
                content: "";
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .sub-menu {
        width: 100%;
        position: absolute;
        top: 25px;
        left: 0;
        opacity: 0;

        &:after {
            @include size(100%, 150%);
            content: '';
            background-color: #ace7ed;
            z-index: 1;

            position: absolute;
            top: -40px;
            left: -18px;
            padding: 20px;
            box-sizing: initial;
            border-radius: 5px;
        }

        a {
            font-size: 16px;
            color: #0b4e82;
            padding: 0;
        }
    }
    
}

//RODAPE
.footer_nav {
    @include e('item'){
        color: #969696;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(30);
        // text-align: justify;

        a {
            color: inherit;
            &:hover {
                color: $white;
            }
        }
    }
}

.rodape__menu {
    @extend %boxFull;
    background-color: #fdf7e1;
    
    .menu__nav {
        margin: rem(40) 0;
    }

    &:before {
        @include size(100%, 13px);
        margin-top: -13px;
        content: '';
        background: url('../images/pattern-menu-rodape.png') top center repeat-x;
        display: block;
        z-index: 9;
        position: relative;
    }
    
    .menu-item {        

        &.logo-menu {
            margin: 0;

            a {
                width: 174px; 
                height: 107px;
                background: none;
                top: 0;
            }
        }

        a {
            color: #0076c0;
        }
    }

}