.newsletter  {
    @extend %boxFull;
    background: #254f6a;
    color: $white;
    padding: rem(45) 0;

    @include e('infos'){
        @include col(1);
        @include respond-to(sm){
            @include col(.5);
        }
    }

    @include e('form'){
        @include col(1);
        @include respond-to(sm){
            @include col(.5);
        }
        min-height: 180px;
    }

    @include e('input'){
        @include col(.5, $cycle: 2);
        margin-bottom: rem(10);

        input {
            width: 100%;
            border-radius: rem(5);
            border: 1px solid $cor-extra;
            padding: rem(10);
        }
    }
}