.news {
    $self: &;

    //NEWS GERAL
    @extend %boxFull;
    padding: rem(80) 0;

    @include e('head'){
        @extend %boxFull;
        margin-bottom: rem(40);
    }

    @include e('headline'){
        @include borderline($cor-primaria,100px,5px);
        @include titles(700, 30,$cor-titulos);
        @include col(1);
        @include respond-to(sm){
            @include col(.7);
        }
    }

    @include e('item'){
        @extend %animaHover;
        @include col(1);
        margin-bottom: rem(30);

        @include respond-to(sm){
            @include col(1/3, $cycle: 3);
        }
    }

    @include e('thumb'){
        @include col(1);
        height: 280px;
        background-color: $cor-extra;
        overflow: hidden;

        @extend %loadPrimaria;
        img {
            z-index: 2;
        }
    }

    @include e('infos'){
        @include col(1);
        z-index: 10;
    }

    @include e('tag'){
        background-color: $cor-primaria;
        border-radius: rem(4);
        color: $white;
        display: inline-block;
        font-size: rem(14);
        margin: rem(15) 0;
        padding: rem(5) rem(12);
    }

    @include e('titulo'){
        font-size: rem(22);
        color: gray;
        line-height: 1;
        margin: rem(5) 0 rem(10);

        @include respond-to(md){
            font-size: rem(25);
        }

        > a {color: inherit;}
    }

    @include e('desc'){
        @extend %boxFull;
        margin: 0 0 rem(15);
    }

    @include e('btn'){
        display: inline-block;
    }

    //FULL
    @include m('full'){
        @extend %resetHover;
        background-color: $cor-extra;
        padding: rem(100) 0;
        position: relative;

        @include e('item', $self){
            @include col(1);
            color: $white;
            margin-bottom: 0;
            // min-height: 510px;
            // padding-top: rem(80);
        }

        @include e('titulo', $self){
            @include fonts(800, 40);
            color: $white;
        }

        @include e('btn', $self){
            @include fonts(700, 17);
            @extend %animabg;
            color: $white;
            border-color: $white;

            &:hover {
                background-color: rgba($black, .2);
                color: $white;
            }
        }

        @include e('thumb', $self){
            @include col(1);
            text-align: center;

            @include respond-to(sm){
                @include col(.45);
                text-align: center;
            }

            @include respond-to(md){
                @include col(.4);
                text-align: center;
            }

            @extend %loadReset;
            background-color: transparent;
            height: inherit;
            min-height: 280px;


            img {
                position: relative;
                max-width: 100%;
                width: auto;
            }
        }

        @include e('infos', $self){
            @include col(1);
            @include respond-to(sm){
                @include col(.55);
            }

            @include respond-to(md){
                @include col(.6);
            }

            font-size: rem(22);
            font-weight: 300;
            line-height: rem(28);
            position: relative;
            z-index: 2;
        }

        @include e('desc', $self){
            padding: rem(25) 0;
        }

        @include e('bg', $self){
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            // &:before {
            //     @include size(100%);
            //     background-color: rgba($black, .75);
            //     content: "";
            //     left: 0;
            //     position: absolute;
            //     top: 0;
            //     z-index: 1;
            // }
        }
    }

    //NEWS BLOCO
    @include m('bloco'){
        @include e('headline', $self){
            @include col(1);
            @include respond-to(sm){
                @include col(.7);
            }
        }

        @include e('youtube', $self){

            @include col(1);
            @include respond-to(sm){
                @include col(.3);
                text-align: right;
            }

            text-align: right;
            padding: rem(8) 0;

            span {
                @extend %boxFull;
                color: mix($white, $black, 30%);
                font-size: rem(14);
                font-weight: 300;
                margin: 0;
                padding: rem(5) 0;
            }
        }

        @include e('tag', $self){
            background-color: transparent;
            // color: $cor-secundaria;
            font-size: rem(15);
            font-weight: bold;
            width: 100%;
            float: left;

            @include borderline($cor-primaria,100px,2px,100%);
        }

        @include e('item', $self){
            @extend %animaHover;
            border: 2px solid $white;
            position: relative;
            margin-bottom: rem(2);

            @include m('large'){
                @include col(1);
                @include respond-to(sm){
                    @include span(.5);
                }
                @include respond-to(md){
                    @include span(.7);
                }
            }

            @include m('small'){
                @include col(1);
                @include respond-to(sm){
                    @include span(.5);
                }
                @include respond-to(md){
                    @include span(.3);
                }
            }
        }

        @include e('titulo', $self){
            float: left;
            color: $white;
            font-size: rem(28);
            width: 80%;
        }

        @include e('thumb', $self){
            height: 383px;

            &:after {display: none;}
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                background-color: rgba($black, .4);
                position: absolute;
                z-index: 3;
            }
        }

        @include e('infos', $self){
            bottom: 10%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            width: 90%;
            z-index: 100;
        }
    }

    //CURSOS
    @include m('cursos'){
        @extend %resetHover;
        background-color: mix($black, $white, 8%);
        padding: rem(80) 0 rem(40);

        @include e('head',$self){
            @extend %boxFull;
            margin-bottom: rem(40);
        }

        @include e('headline',$self){
            @include borderline($cor-primaria,100px,5px,0,50%,true);
            @include col(1);
            @include titles(700, 28,$cor-titulos);
            text-align: center;
        }

        @include e('item', $self){
            @include col(1);
            background-color: $white;
            color: $cor-titulos;
            margin-bottom: rem(30);
            position: relative;
            min-height: 320px;
            overflow: hidden;

            @include respond-to(sm){
                height: 320px;
            }
        }

        @include e('titulo', $self){
            @include titles(600, 18, $cor-titulos);
            padding-bottom: 0;

            @include respond-to(sm){
                @include titles(800, 20, $cor-titulos);
                padding-bottom: 0;
            }

            @include respond-to(md){
                @include titles(800, 40, $cor-titulos);
                padding-bottom: 0;
            }
        }

        @include e('thumb', $self){
            @include col(1);
            background-color: rgba($cor-titulos,.5);
            text-align: center;
            min-height: 320px;
            position: relative;

            @include respond-to(sm){
                @include col(.4);
                text-align: center;
            }

            @include respond-to(md){
                @include col(.3);
                text-align: center;
            }

            img {
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                width: 100%;
            }
        }

        @include e('infos', $self){
            @include col(1);
            padding: rem(10) rem(20);
            font-size: rem(16);
            line-height: rem(18);
            font-weight: 300;

            @include respond-to(sm){
                @include col(.6);
                font-size: rem(20);
                line-height: rem(22);
            }

            @include respond-to(md){
                @include col(.7);
                font-size: rem(22);
                line-height: rem(28);
            }
        }

        @include e('desc', $self){
            padding: rem(15) 0;
        }

        @include e('btn', $self){
            @include fonts(700, 17);
            @extend %animabg;
            color: $cor-titulos;
            border-color: $cor-titulos;

            &:hover {
                background-color: $cor-primaria;
                color: $white;
                border-color: transparent;
            }
        }

    }

    //BARRA
    @include m('barra'){
        background-color: $cor-primaria;
        padding: rem(30);

        @include e('item',$self){
            @include col(1);
            margin-bottom: 0;
            position: relative;
        }

        @include e('infos',$self){
            position: relative;
            @include respond-to(md){
                @include center(90%);
            }
        }

        @include e('titulo',$self){
            @include col(1);
            @include titles(800,18,$white);
            text-align: center;

            @include respond-to(sm){
                @include titles(800,20,$white);
            }

            @include respond-to(md){
                @include col(.55);
                @include titles(800,25,$white);
                padding: rem(8);
            }

            @include respond-to(lg){
                @include col(.65);
                @include titles(800,30,$white);
                margin: 0;
                padding: 0;
            }
        }

        @include e('btn',$self){
            @include col(1);
            position: relative;
            padding: rem(35) 0;

            @include respond-to(md){
                @include col(.45);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            @include respond-to(lg){
                @include col(.35);
            }

            .btn {
                color: $white;
                border-color: $white;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                font-size: rem(15);
                width: 100%;

                @include respond-to(sm){
                    font-size: rem(20);
                    width: rem(300);
                }

                @include respond-to(md){
                    width: 80%;
                }

                &:hover {
                    background-color: $white;
                    color: $cor-primaria;
                }
            }
        }
    }
}