.sform {
    $self : &;
    @include center(400px);

    @include e('select'){
        @include col(1);
        @include respond-to(sm){
            @include col(.75);
        }

        .cs-placeholder {
            position: relative;
            padding-left: rem(38);

            &:before {
                content: "";
                position: absolute;
                left: rem(8);
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .cs-select > span {
            border: 1px solid #ccc;
            border-radius: rem(4);
        }

        .cs-active > span {
            border-radius: rem(4) rem(4) 0 0;
            border-bottom: 0;
        }

        .cs-active .cs-options {
            border: 1px solid #ccc;
            border-top: 0;
            background-color: $white;
        }

        .cs-placeholder:before {
            @include size(25px);
            color: $cor-primaria;
            font-size: 25px;
            text-align: center;
        }

        @include m('pilar'){
            .cs-placeholder:before {
                @include icone($fa-var-pencil-square-o);
            }
        }

        @include m('cursos'){
            .cs-placeholder:before {
                @include icone($fa-var-folder);
            }
        }

        @include m('local'){
            .cs-placeholder:before {
                @include icone($fa-var-map-marker);
            }

            .cs-select > span {
                border-radius: 0 rem(4) rem(4) 0px;
            }

            .cs-active > span {
                border-radius: 0 rem(4) 0 0;
                border-bottom: 0;
            }
        }
    }

    @include e('submit'){
        @include col(1);
        text-align: center;
        background-color: $cor-primaria;
        color: $white;
        border: 0;
        padding: rem(15);

        @include respond-to(sm){
            @include col(.25);
            text-align: center;
            float: right;
        }

        &:hover {
            background-color: darken($cor-primaria, 5%);
            color: $white;
        }
    }

    //home
    @include m('home'){
        @include center(100%);
        @include e('select', $self){
            @include col(1);
            @include respond-to(sm){
                @include span(.4);
            }

            .cs-select > span {
                border: 1px solid #ccc;
                border-radius: rem(4) 0 0 rem(4);
            }

            .cs-active > span {
                border-radius: rem(4) 0 0 0;
                border-bottom: 0;
            }

            .cs-active .cs-options {
                border: 1px solid #ccc;
                border-top: 0;
                background-color: $white;
            }

            @include m('local'){
                .cs-select > span {
                    border-radius: 0 rem(4) rem(4) 0px;
                }

                .cs-active > span {
                    border-radius: 0 rem(4) 0 0;
                    border-bottom: 0;
                }
            }
        }

        @include e('submit', $self){
            @include col(1);
            text-align: center;
            background-color: $cor-primaria;
            color: $white;
            border: 0;
            padding: rem(15);

            @include respond-to(sm){
                @include col(.2);
                text-align: center;
                float: right;
            }

            &:hover {
                background-color: darken($cor-primaria, 5%);
                color: $white;
            }
        }
    }

    //sidebar
    @include m('side'){

        @include col(1);
        @include e('buttons', $self){
            @include col(1);
            border-radius: rem(5);
            padding: rem(5);
            margin-bottom: rem(10);

            input {
              display: none;
            }

            input + label {
                @include span(.5);
                border-radius: rem(5);
                cursor: pointer;
                padding: rem(8);
                position: relative;
                text-align: center;

                &:before {
                    @include size(20px);
                    left: 8%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            input + label.evento {
                &:before {
                    @include icone($fa-var-calendar);
                }
            }

            input + label.cursos {
                &:before {
                    @include icone($fa-var-archive);
                }
            }
        }

        @include e('select', $self){
            @include col(1);
            margin-bottom: rem(12);
            .cs-select > span {
                border-radius: rem(4);
            }
            .cs-active > span {
                border-radius: rem(4) rem(4) 0 0;
                border-bottom: 0;
            }
        }

        @include e('submit', $self){
            @include col(1);
            @include respond-to(sm){
                @include col(.5);
                text-align: center;
                float: left;
            }
        }
    }

    //dark
    @include m('dark'){

        @include e('buttons', $self){
            color: rgba($cor-titulos, .5);
            background: darken($cor-extra, 10%);

            input + label {
                &:before {
                    color: $cor-titulos;
                }
            }

            input:checked + label,
            input:checked + label:active {
              background-color: $cor-titulos;
              color: $white;

              &:before {
                    color: $white;
                }
            }
        }

        @include e('select', $self){

            .cs-select > span {
                border: 1px solid darken($cor-extra, 15%);
                background: darken($cor-extra, 10%);
            }

            .cs-active > span {
                border-bottom: 0;
            }

            .cs-active .cs-options {
                background: darken($cor-extra, 10%);

                ul {
                    &:before {
                        background: darken($cor-extra, 10%);
                    }
                }
            }

            .cs-placeholder:before, .cs-placeholder:after {
                color: $cor-titulos;
            }
        }
    }
}