.sistema {
    @extend %boxFull;
    background-color: $cor-primaria;
    color: $white;
    padding: rem(50) 0;

    @include e('header'){
        @extend %boxFull;
    }

    @include e('headline'){
        @include titles(800, 30, $white);
        text-align: center;
    }

    @include e('lista'){
        @extend %boxFull;
        margin-top: rem(20);
    }

    @include e('item'){
        @include col(1);
        margin: rem(30) 0;
        padding-bottom: rem(30);

        @include respond-to(sm){
            @include col(1/3, $cycle: 3);
            text-align: center;
        }

        @include borderline(rgba($black, .2),50%, 1px, 115%, 50%, true);
    }

    @include e('thumb'){
        text-align: center;

        img {
            width: auto;
            height: auto;
        }
    }

    @include e('titulos'){
        @include titles(700, 25, $white);
        text-align: center;
    }

    @include e('desc'){
        text-align: center;
    }
}

//PLANOS
.planos {
    @extend %boxFull;
    color: $cor-titulos;
    padding: rem(80) 0;

    @include e('header'){
        @extend %boxFull;
    }

    @include e('headline'){
        @include titles(800, 40, $cor-titulos);
        padding: 0 0 rem(20);
        text-align: center;
    }

    @include e('lista'){
        @extend %boxFull;
        margin-top: rem(20);
    }

    @include e('item'){
        @include col(1);
        border: 1px solid $cor-primaria;
        text-align: center;

        @include respond-to(sm){
            @include col(1/3, $cycle: 3);
            text-align: center;
        }
    }

    @include e('titulos'){
        @include titles(700, 22, $white);
        background-color: $cor-primaria;
        text-transform: uppercase;

        @include respond-to(sm){
            @include titles(700, 18, $white);
        }

        @include respond-to(md){
            @include titles(700, 28, $white);
        }
    }

    @include e('total'){
        @include titles(800, 35, $cor-titulos);
    }

    @include e('adesao'){
        @include titles(300, 18, $cor-titulos);
        padding: rem(5) 0;
    }

    @include e('mensal'){
        @include titles(300, 18, $cor-titulos);
        padding: rem(5) 0;
    }

    @include e('acesso'){
        @include titles(300, 18, $cor-titulos);
        padding: rem(5) 0;
    }

    @include e('pagueseguro'){
        @extend %boxFull;
        margin: rem(20) 0;
    }
}