//SLIDES
.painel {
  @extend %boxFull;
  margin-bottom: -10px;
}

.slide {
    @include e('box') {
      text-align: left;
      position: relative;
      min-height: 550px;

      @include respond-to(sm){
        min-height: 767px;
      }
    }
  
    @include e('item'){
      @include size(100%, 510px);
      position: relative;
    }
  
    @include e('thumbs'){
      @include size(100%);
      position: absolute;
      top: 0;
      left: 0;

      &:after {
        content: '';
        @include size(100%);
        background-color: rgba($black, .19);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
          @include size(1920px $i, 510px $i);
          display: block;
          object-fit: cover;
          @extend %centerPositionAll;
      }
    }

    .container {
      position: relative;
      height: 510px;
    }

    @include e('infos') {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;      
      z-index: 2;

      max-width: 470px;
      width: 100%;
      text-align: center;
    }

    @include e('desc'){
      color: $white;
      font-size: rem(20);
      font-weight: 300;      
      letter-spacing: 2px;
      margin: 0 0 10px;

      p {
        color: $white;
      }
    }

    @include e('tit') {
      font-size: rem(50);
      font-family: $fontBerkshire;
      color: #007cc5;
      margin: 0 0 10px;
    }

    @include e('btn'){      
      @include button(#006eb9, $white);

      display: inline-block;
      margin-top: rem(10);
      padding: rem(15) rem(50);      
      position: relative;      
      text-align: center;
      transition: all .2s ease-in-out;
      border-radius: 30px;
      text-transform: uppercase;
      
      font-size: rem(16);

      &:hover, 
      &:focus,
      &:active {
        color: darken($cor-primaria, 10%);
        transition: all .2s ease-in-out;
      }
    }

    .owl-prev,
    .owl-next {
      @include size(50px);
      border-radius: 50%;
      position: absolute;
      display: block;
      z-index: 999;
      top: 50%;
      left: 9%;
      transform: translateY(-50%);
      transition: all .2s ease-in-out;
      border: 2px solid $white;


      &:before {        
        @extend .fa;
        @extend .fa-angle-left;
        @extend %centerPositionAll;
        color: $white;
        font-size: rem(28); 
        z-index: 99;
      }

      &:hover,
      &:focus {
        background-color: rgba($cor-primaria, .9);
      }
    }

    .owl-next{
      left: auto;
      right: 9%;
      transform: rotate(180deg);
    }
}
