.headerTitle {

    @include e('tit'){
        @extend %titPrincipal;
    }

    @include e('desc'){
        font-size: rem(18);
        color: #006eb9;
    }
}

.sobre {
    background-color: #fdf7e1;
    padding: rem(80) 0 rem(40);
    position: relative;

    &:after {
        @include size(100%, 13px);        
        content: '';
        background: url('../images/patter-sobre-bottom.png') top center repeat-x;        
        position: absolute;
        left: 0;
        bottom: -13px;
        z-index: 9;
    }
    

    @include e('tit'){
       @extend %titPrincipal;
    }

    @include e('desc'){
        font-size: rem(18);
        color: #006eb9;
        text-align: justify;
    }
    
    @include e('btn'){
        @include button(#006eb9, #ffe6bf);

        float: right;
        margin-top: rem(10);
        padding: rem(13) rem(35);      
        position: relative;
        text-align: center;
        transition: all .2s ease-in-out;
        border-radius: 30px;
        text-transform: uppercase;

        font-size: rem(15);
        font-weight: 700;
        letter-spacing: 1px;

        &:hover, 
        &:focus,
        &:active {
            color: darken($cor-primaria, 10%);
            transition: all .2s ease-in-out;
        }
    }
    
}

.img-radius {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.receitas {
    background: url('../images/bg-receitas.jpg') no-repeat center;
    height: 835px;
    position: relative;

    .container {
        position: relative;
        height: 840px;
    }
}

.receita {
    @extend %boxFull;
    @extend %centerPositionAll;
    background: $white url('../images/casa-receita.png') 97% 97% no-repeat;
    box-shadow: 0 0 rem(100) 0 rgba($black, .1);
    max-width: 1050px;

    @include e('thumbs'){
        @include span(.4);

        img {
            @extend %boxFull;
            width: 100%;
            height: auto;
        }
    }
    
    @include e('infos'){
        @include span(.6);        
        padding: rem(80) rem(80) rem(80) rem(60);
    }

    @include e('tit'){
        font-size: rem(42);
        font-family: $fontBerkshire;
        color: #56534c;
        margin: 0;
    }

    @include e('subtit'){
        font-size: rem(13);
        text-transform: uppercase;
        color: #a47d5e;
        margin: 0;
    }

    @include e('desc'){
        font-size: rem(17);
        color: #56534c;
        letter-spacing: 1px;
    }

    @include e('btn'){
        font-weight: 900;
        color: #56534c;
    }

    @include e('tag'){
        @include size(200px);
        background: $white url('../images/bg-tag-receita.png') no-repeat;
        box-shadow: 0 0 rem(100) 0 rgba($black, .2);
        position: absolute;
        top: -60px;
        right: -60px;
        text-align: center;
        padding-top: rem(20);

        @include e('tit'){
            font-size: rem(16);
            color: #3685c3;
            text-transform: uppercase;
            display: block;
        }

        @include e('min'){
            font-size: rem(100);
            font-weight: 900;
            color: #dfc691;
            display: block;
        }

        @include e('text'){
            font-size: rem(18);
            font-weight: 500;
            color: #979285;
            display: block;
        }
    }
}

.onde {
    padding: rem(30) 0;
    background-color: #90d5f6;

    @include e('infos'){
        @include col(.5);
        padding: rem(60) rem(20) rem(20);
        
        @include e('icon'){
            display: table-cell;
            vertical-align: top;
            padding-right: rem(15);
        }

        @include e('box'){
            display: table-cell;
            vertical-align: top;
        }
    }

    @include e('thumb'){
        @include col(.5);
    }

    @include e('tit'){
        font-size: rem(30);
        text-transform: uppercase;
        font-weight: 900;
        color: #0d5382;
        margin: 0;
    }

    @include e('desc'){
        font-size: rem(20);
        font-weight: 400;
        color: #006eb9;
        line-height: 1;
        letter-spacing: 1px;
    }

    @include e('btn'){
        @include button(#006eb9, #fdf7e1);

        display: inline-block;
        margin-top: rem(10);
        padding: rem(15) rem(40);      
        position: relative;      
        text-align: center;
        transition: all .2s ease-in-out;
        border-radius: 30px;
        text-transform: uppercase;

        font-size: rem(16);
        font-weight: 700;
        letter-spacing: 1px;

        &:hover, 
        &:focus,
        &:active {
            color: darken($cor-primaria, 10%);
            transition: all .2s ease-in-out;
        }
    }
}

.produtos {
    text-align: center;
    padding: rem(50) 0 rem(80);
    
    @include e('tit'){
        @extend %titPrincipal;
    }

    @include e('btn'){
        @include button($white, #006eb9);

        display: inline-block;
        margin-top: rem(10);
        padding: rem(22);      
        position: relative;      
        text-align: center;
        transition: all .2s ease-in-out;
        border-radius: 30px;
        text-transform: uppercase;

        font-size: rem(16);
        font-weight: 700;
        letter-spacing: 1px;

        &:hover, 
        &:focus,
        &:active {
            color: darken($cor-primaria, 10%);
            transition: all .2s ease-in-out;
        }
    }
}

.list-produtos {
    @extend %boxFull;
    padding: rem(30) 0;


    .owl-item {
        transform: scale(.5);
        transition: all .2s ease-in-out;
    }

    .center {
        transform: scale(1);
    }


    .owl-prev,
    .owl-next {
      @include size(40px);
      border-radius: 50%;
      position: absolute;
      display: block;
      z-index: 999;
      top: 50%;
      left: 30%;
      transform: translateY(-50%);
      transition: all .2s ease-in-out;
      border: 2px solid $cor-primaria;


      &:before {        
        @extend .fa;
        @extend .fa-angle-left;
        @extend %centerPositionAll;
        color: $cor-primaria;
        font-size: rem(28); 
        z-index: 99;
      }

      &:hover,
      &:focus {
        background-color: rgba($cor-primaria, .9);
        &:before { color: $white; }
      }
    }

    .owl-next{
      left: auto;
      right: 30%;
      transform: translateY(-50%) rotate(180deg);
    }
}

.cta-prod {
    position: relative;
    background-color: #0b4e82;
    padding: rem(35) 0;

    &:before {
        @include size(100%, 13px);
        content: '';        
        background: url('../images/patter-azul-top.png') top center repeat-x;
        position: absolute;
        top: -13px;
        left: 0;
    }    

    @include e('infos'){
        @include col(.4);
    }

    @include e('boxBtn'){
        @include col(.3);
    }

    @include e('thumbs'){
        @include col(.3);
    }

    @include e('tit'){
        font-size: rem(29);
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        margin: rem(60) 0 0;
    }

    @include e('btn'){
        

        @include button(#006eb9, #fdf7e1);
        display: inline-block;
        margin: rem(70) 0 0;
        padding: rem(15) rem(45);
        position: relative;
        text-align: center;
        transition: all .2s ease-in-out;
        border-radius: 30px;
        text-transform: uppercase;

        font-size: rem(16);
        font-weight: 700;
        letter-spacing: 1px;

        &:hover, 
        &:focus,
        &:active {
            color: darken($cor-primaria, 10%);
            transition: all .2s ease-in-out;
        }
    }
}