//==========================================================================
// VARIAVEIS
// Definição das variavéis do Tema
// Não remover nenhuma das variavéis para evitar crash do SASS
//==========================================================================

//-------------------------------
// GRID
// Define as variáveis da dimensão do projeto
//-------------------------------

//Classe padrão do Container
$global-div: 'container';

//Dimensão do container
$lg-max : 1170px;
$lg-md  : 920px;
$lg-sm  : 768px;
$lg-xs  : 568px;

// Espaçamento Latera Default
$space-lateral: 15;

// Border Radius Default
$border-radius: 5px;

//-------------------------------
// FONTS
// Define as fonts do projeto
//-------------------------------

@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';


$fontBerkshire : 'Berkshire Swash';

$font-default       : 'Lato', Arial, helvetica, sans-serif !default;
$font-secundaria    : 'Lato' !default;
$font-header        : 'Lato' !default;


//-------------------------------
// Cores
// Cuidado ao deletar variáveis.
// Pode causar CRASH no SASS
//-------------------------------

$white		: #ffffff;
$black		: #000;

//ALERTS
$sucesso	: #098809;
$erro 		: #ed0000;

$cor-primaria	 : #2f4f80;
$cor-secundaria  : #ffc600;
$cor-terciaria	 : #254f6a;
$cor-titulos     : #484848;
$cor-extra		 : #f9f9f9;
$cor-dark        : #242424;
$rodape          : #fdf7e1;

//BACKGROUND
$cor-bg			 : $white;

//COR TEXTOS
$cor-texto		 : rgba($black, .75);
$cor-texto-i  	 : rgba($cor-bg, .75);

//COR LINKS EM TEXTOS
$cor-link   :	$cor-terciaria;
$cor-link-h :	darken($cor-link, 10%);
$cor-link-v :	lighten($cor-link, 15%);

// COR TOPO INTERNO
$cor-topo-int:  #8c8c8c;

// COR RODAPE
$cor-rdp-fonts  : 	#6a6a6a;


// Cor menu
$bgMenu    : #f7f7f7;
$hoverMenu : #d5d4d5;
$corMenu   :  #9a9a9a;

//-------------------------------
// FORMS
// Não remover para não dar CRASH no SASS
// Definir cores, sombras e atribuir um nome
//-------------------------------

$input1 	 : $white;
$input2 	 : darken($cor-primaria, 20%);
$input3		 : $white;

$cor 	 	 : $cor-texto, $white, $cor-texto;
$inputs 	 : $input1, $input2, $input3;
$classes  	 : newsletter, sidebar, agenda;

//-------------------------------
// MODULOS
// Habilita a importação das classes CSS dos Modulos
// Definir com true ou false.
//-------------------------------

$grid      : 'true';
$btns      : 'true';
$icones    : 'false';
$forms     : 'false';
$lista     : 'false';
$bread     : 'false';
$toggle    : 'false';
$wpress    : 'false';
$videores  : 'false';

//-------------------------------
// VENDORS
// Habilita a importação das classes CSS dos Vendors
// Definir com true ou false.
//-------------------------------

$modal	    : 'false';
$owl        : 'false';
$fancybox   : 'false';
$touch		: 'true';
$accordeon  : 'false';
$select  	: 'false';
$animate  	: 'false';

//Definições de cores e estilos
//Accordeon
$acc-color 	 	: scale_color($black, $lightness: 20%);
$acc-bg	 	 	: mix($black, $white, 10%);
$acc-head	 	: $cor-extra;
$acc-head-text	: $white;
$acc-hvr	 	: darken($cor-primaria, 5%);
$acc-act	 	: scale_color($cor-primaria, $lightness: -20%);

//==========================================================================
// CUSTOM VARS
// Define as variáveis customizadas
//==========================================================================
$i : !important;